html{
    box-sizing: border-box;
}
*, *::after, *::before{
    box-sizing: inherit;
}
body{
    margin: 0;
    font-family: "Oswald", sans-serif; 
    font-weight: 400;
}
/* 
font-family: "Open Sans", sans-serif;
font-family: "Oswald", sans-serif; 
*/
.container{
    max-width: 1110px;
    margin: 0 auto;
}
:root{
    --acccent-color: #F7654A;
    --dark-color: #404149;
    --gray-color: #999;
    --white-color: #fff;
    --bg-color: #e5e5e5;
}
.text-h2{
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
}
.text-h3{
    font-size: 24px;
    font-weight: 500;
}
.text-h4{
    font-size: 21px;
    font-weight: 500;
}
.text-p{
    font-family: "Oswald", sans-serif; 
    font-size: 16px;
}
.text-p-reviews{
    font-family: "Oswald", sans-serif; 
    font-size: 14px;
    line-height: 21;
}

.header {
    min-height: 740px;
    background-image: url(../img/first-screen-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.header__title {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 112px;
}
.logo {
    width: 60px;
    height: 60px;
}
.burger {
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 0;
    background-color: var(--acccent-color);
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.burger__line {
    display: block;
    width: 21px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 4px;
}
.burger__line:last-child{
    margin-bottom: 0;
}
.h1 {
    font-size: 64px;
    font-weight: 500;
    line-height: 95px;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: uppercase;
    max-width: 734px;
    margin: 0 auto 15px;
    color: var(--white-color);  
}
.h4 {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    max-width: 734px;
    color: var(--white-color);  
    margin: 0 auto;
}
