html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
img {
  display: block;
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
/* 
font-family: "Open Sans", sans-serif;
font-family: "Oswald", sans-serif; 
*/
.container {
  max-width: 1110px;
  margin: 0 auto;
}
:root {
  --acccent-color: #f7654a;
  --dark-color: #404149;
  --gray-color: #999;
  --white-color: #fff;
  --bg-color: #e5e5e5;
}
.text-h2 {
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
}
.text-h3 {
  font-size: 24px;
  font-weight: 500;
}
.text-h4 {
  font-size: 21px;
  font-weight: 500;
}
.text-p {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
}
.text-p-reviews {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
}

.header {
  min-height: 740px;
  background-image: url(../img/first-screen-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header__title {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 112px;
}
.logo {
  width: 60px;
  height: 60px;
}
.burger {
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding: 0;
  background-color: var(--acccent-color);
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.burger__line {
  display: block;
  width: 21px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 4px;
}
.burger__line:last-child {
  margin-bottom: 0;
}
.h1 {
  font-size: 64px;
  font-weight: 500;
  line-height: 95px;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: uppercase;
  max-width: 734px;
  margin: 0 auto 15px;
  color: var(--white-color);
}
.h4 {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  max-width: 734px;
  color: var(--white-color);
  margin: 0 auto;
}
.about {
  min-height: 1080px;
  position: relative;
  padding-top: 250px;
}
.info {
  position: absolute;
  top: -150px;
  left: 50%;
  transform: translate(-50%);
  max-width: 1110px;
  min-height: 300px;
  width: 100%;
  background-color: #f7f7f7;
  padding: 57px 130px;
}
.about__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-items: center;
}
.about__grid-item {
  text-align: center;
  width: 190px;
}
.about__h4 {
  color: var(--acccent-color);
  font-family: Oswald;
  font-size: 72px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 4px;
}
.about__h5 {
  font-family: Oswald;
  color: #000;
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
}
.about__p {
  font-family: Oswald;
  color: var(--gray-color);
  font-size: 18px;
  font-weight: 500;
}
.project-h2 {
  text-align: center;
  margin-bottom: 50px;
  color: var(--dark-color);
}
.project-h3 {
  line-height: 36px;
  margin-bottom: 13px;
  color: var(--dark-color);
}
.project-p {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: var(--gray-color);
}
.about__flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}
.about__flex-item {
  width: 350px;
}
.project-img {
  margin-bottom: 45px;
}
.rectangle {
  width: 55px;
  height: 6px;
  background-color: var(--acccent-color);
  margin-bottom: 15px;
}
.request {
  background-color: var(--acccent-color);
}
.request__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.request-h2 {
  font-family: Oswald;
  color: var(--white-color);
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0.02em;
  padding-top: 30px;
  padding-bottom: 7px;
  text-transform: uppercase;
}
.request-h3 {
  color: var(--white-color);
  font-family: Oswald;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding-bottom: 39px;
}
.request__botton {
  margin-top: 12px;
  width: 175px;
  height: 49px;
  border: none;
  color: rgb(0, 0, 0);
  font-family: Oswald;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
}
.request__botton-img {
  display: inline-block;
  padding-right: 12px;
}
.servises {
  padding: 150px 0;
}
.section-h2,
.servises-h4 {
  color: #000;
  text-align: center;
  text-transform: uppercase;
}
.section-h2 {
  margin-bottom: 55px;
}
.servises-h4 {
  max-width: 172px;
  margin: 0 auto;
  letter-spacing: 0.02em;
}
.servises__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  justify-items: center;
}
.servises__grid-item {
  padding: 59px 0;
  background-color: #f7f7f7;
  width: 350px;
  height: 250px;
}
.servises__icon {
  margin: 0 auto 22px;
}
.portfolio__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 0;
}
.question {
  padding-top: 150px;
  padding-bottom: 115px;
}
.question .section-h2 {
  margin-bottom: 50px;
}

.question_h3 {
  text-transform: uppercase;
  color: var(--acccent-color);
  margin-bottom: 24px;
}
/* .question_h3.close {
  margin-bottom: 31px;
} */
.question_p {
  margin-bottom: 36px;
  color: var(--gray-color);
  max-width: 730px;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
/* .question_h3.open::before,
.question_h3.close::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url(../img/question.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 15px;
}
.question_h3.open::before {
  transform: rotate(-90deg);
}
.question_h3.close + .question_p {
  display: none;
} */ 
.partners {
  background-color: var(--dark-color);
  padding-bottom: 100px;
  padding-top: 100px;
}
.partners-h2 {
  color: var(--white-color);
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  line-height: 53px;
  text-transform: uppercase;
  padding-bottom: 48px;
}
.partners__flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}
.reviews {
  padding: 150px 0 145px;
}
.reviews__h2 {
  text-align: center;
  margin-bottom: 65px;
}
.reviews__grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.reviews__card {
  background-color: #f7f7f7;
  padding: 30px;
  margin-bottom: 30px;
}
.reviews_qwots {
  font-size: 96px;
  font-weight: 700;
  line-height: 1;
  color: var(--acccent-color);
  margin-bottom: -35px;
  margin-top: -10px;
}
.reviews__accent {
  color: var(--acccent-color);
}
.reviews-p {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.reviews-h4 {
  letter-spacing: 0.035em;
}
.contacts {
  padding: 100px 0 150px;
}
.contacts-h2 {
  text-align: center;
  padding-bottom: 60px;
}
.contacts__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.contacts__items {
  text-align: center;
}
.contacts-img {
  margin: 0 auto 18px;
}
.contacts-img-m {
  margin: 0 auto 25px;
}
.contacts-h4 {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 17px;
}
.contacts-p {
  font-size: 24px;
  font-weight: 500;
}
.contacts-p-acccent {
  color: var(--acccent-color);
}
.footer {
  background-color: var(--dark-color);
}
.footer__flex {
  display: flex;
  justify-content: space-between;
}
.footer-p {
  font-family: Open Sans;
  color: var(--white-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding: 30px 0;
}

@media screen and (max-width: 1280px) {
  .footer {
    padding-left: 30px;
    padding-right: 30px;
  }
  .about__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .header__title {
    padding-left: 15px;
    padding-right: 15px;
  }
  .about {
    padding: 420px 15px 110px 15px;
  }
  .request__flex {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
  }
  .servises {
    padding: 60px 15px;
  }
  .servises__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .servises__grid-item {
    width: 100%;
  }
  .portfolio__grid {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
  }
  .question {
    padding: 60px 15px;
  }
  .partners {
    padding: 60px 20px;
  }
  .partners__flex {
    justify-content: center;
  }
  .reviews__grid {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
  }
  .reviews {
    padding: 60px 20px;
  }
  .contacts__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }
  .contacts {
    padding: 60px 20px;
  }
}
@media screen and (max-width: 768px) {
  .info {
    position: relative;
    top: -60px;
    padding: 0;
    padding-bottom: 25px;
  }
  .about__grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .about {
    padding: 75px 15px 80px 15px;
  }
  .servises__grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .portfolio__grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .reviews__grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .contacts__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 380px) {
  .h1 {
    font-size: 46px;
    line-height: 64px;
  }
}
